@import url('https://fonts.googleapis.com/css2?family=Lato&family=Zen+Antique&display=swap');

body {
    background-color: #abc4ab;
    font-family: lato, Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: #95190c;
    color: white;
    margin-top: -8px;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    align-items: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: lato, sans-serif;
    padding: 35px;
}

nav a:hover {
    color: #abc4ab;
    font-family: lato, sans-serif;
}

.logo {
    width: 80px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    padding: 3px 11px 4px 12px;
}

#form {
    margin: 0 auto;
    width: 20em;
    padding: 1em;
    border: 1px solid #abc4ab;
    border-radius: 1em;
}

#query {
    width: 75%;
}

#button {
    background-color: #037171;
    color: white;
}

.home-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.home-grid_2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 32px;
}

.intro {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.first {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.second {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.third {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.image_1,
.image_2,
.image_3 {
    width: 25vw;
    height: 200px;
}

#intro_interactive {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-bottom: 30px;
}

#button_1,
#button_2,
#button_3 {
    padding: 5px 5px;
    margin: 30px 5px;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: #037171;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
    padding: 4px 38px;
    font-family: zen antique, Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2em;
    font-weight: bolder;
}

h4 {
    font-weight: bold;
    font-size: 20px;
    font-family: zen antique, Arial, Helvetica, sans-serif;
    padding-left: 36px;
}

main {
    flex: 1;
}

.main_image {
    grid-column: 2/3;
    width: 50vw;
}

.shoe_type {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #037171;
    background-color: #95190c;
}

.formal_shoes_image {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: 80%;
    margin-top: 30px;
    margin-left: 30px;
}


.F_shoes {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 297px;
    color: #000;
    text-decoration: none;
}

.F_shoes:hover {
    color: white;
}

.semi_formal_shoes_image {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
    height: 80%;
    margin-top: 30px;
    margin-left: 30px;
}

.s-formal_shoes {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 297px;
    color: #000;
    text-decoration: none;
}

.s-formal_shoes:hover {
    color: white;
}

p {
    font-size: 20px;
}

.button-box {
    font-weight: bold;
    font-size: 20px;
    font-family: zen antique, Arial, Helvetica, sans-serif;
    color: black;
}

#bestest {
    background-color: white;
    margin-bottom: 20px;
}

.join {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 8px;
    border-radius: 25px;
    background-color: #037171;
}

.join:hover {
    color: white;
    box-shadow: 5px 10px #95190c;
}

#convince {
    font-family: zen antique, Arial, Helvetica, sans-serif;
    color: #95190c;
    text-align: center;
    padding-bottom: 20px;
}

footer {
    background-color: #95190c;
    font-family: Nunito, sans-serif;
    display: flex;
    justify-content: space-around;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: white;
    font-family: Nunito, sans-serif;
}

footer a {
    color: white;
    font-family: Nunito, sans-serif;
}

footer a:hover {
    color: #abc4ab;
    font-family: Nunito, sans-serif;
}

footer .social img {
    padding-top: 15px;
}

.speak {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: block;
    text-align: center;
}

.name input,
.email input,
.message textarea {
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 15px;
    margin-top: 25px;
}

.name label,
.email label,
.message label {
    font-size: 25px;
    font-weight: bold;
    font-family: lato, Arial, Helvetica, sans-serif;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    margin-bottom: -100px;
}

#msg_1 {
    background-color: #037171;
    width: 183px;
    font-size: 15px;
    margin-top: 10px;
    padding: 16px;
    font-weight: bold;
    color: white;
}