@import url('https://fonts.googleapis.com/css2?family=Julee&family=Nunito:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Nunito, sans-serif;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Nunito, sans-serif;
    padding: 35px;
}

nav a:hover {
    background-color: white;
    color: #f42c04;
    font-family: Nunito, sans-serif;
}

#hero-msg h1 {
    text-align: center;
    font-family: Julee;
}

#hero-msg h4 {
    text-align: center;
    font-family: Nunito, sans-serif;
}

.button-box {
    text-align: center;
    font-family: Nunito, sans-serif;
}

main section {
    text-align: center;
    font-family: Nunito, sans-serif;
}

#background {
    height: 725px;
    background-color: #519872;
    font-family: Nunito, sans-serif;
}

body {
    background-color: white;
    font-family: Nunito, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0B132B;
    font-family: Nunito, sans-serif;
}

.book {
    background-color: white;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: white;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #0B132B;
    color: #f42c04;
    font-family: Nunito, sans-serif;
}

.join:hover {
    background-color: #0B132B;
    color: #f42c04;
    font-family: Nunito, sans-serif;
}

.msg {
    background-color: #519872;
    font-family: Nunito, sans-serif;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: white;
    font-family: Nunito, sans-serif;
}

nav a {
    color: white;
    font-family: Nunito, sans-serif;
    padding: 35px;
}

nav a:hover {
    color: #f42c04;
    font-family: Nunito, sans-serif;
}

.home-title {
    color: #0B132B;
    font-family: Nunito, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #0B132B;
    font-family: Nunito, sans-serif;
}

.msg h2 {
    color: #0B132B;
    font-family: Julee;
    margin: 0;
}

.msg p {
    color: #0B132B;
    font-family: Nunito, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: #0B132B;
    font-family: Nunito, sans-serif;
}

footer a {
    color: #0B132B;
    font-family: Nunito, sans-serif;
}

footer a:hover {
    color: #f42c04;
    font-family: Nunito, sans-serif;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.card-img {
    border: 10px solid #519872;
}

main section img {
    box-sizing: border-box;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}