/* .grandfather {
  padding: 50px;
  background-color: #7b745f;
  position: relative;
  height: 250vh;
} */

.parent {
    padding: 5px;
    background-color: #5f727b;
    position: relative;
    height: 200vh;
  }
  
  .child {
    padding: 5px;
  }
  
  .child-one {
    background-color: rgb(116, 255, 116);
    position: sticky;
    top: 5px;
  }
  
  .child-two {
    background-color: rgb(248, 117, 117);
    /* position: relative;
    top: 10px;
    right: 0; */
  }
  
  .child-three {
    background-color: rgb(255, 116, 232);
  }