@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body {
    font-family: "Open Sans", monospace, sans-serif;
    background-color: #201D1D;
}

.content {
    margin: 0 auto;
    text-align: center;
    color:#ffff;
    max-width: 1200px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Lato, monospace, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr .5fr;
    font-weight: bold;
    font-family: lato, monospace, sans-serif;
    margin: 10px 0px;
}

header p {
    grid-column: 2/3;
}

#hamburger {
    display: none;
    margin: 0 auto;
}

nav {
    display: inline;
}

#primaryNav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-self: center;
    align-self:center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_sitename, #date {
    font-weight: bolder;
    font-size: 1em;
    color: #00F5C0;
    font-family:  Lato, monospace, sans-serif;;
}
nav ul li a {
    transition: transform .5s;
    text-decoration: none;
    color: #ffff;
    padding-top: 1vh;
}

.logo {
    width: 30px;
    border-radius: 50%;
}

.logo_header {
    margin-top: 3px;
    width: 64px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 0;
}

.header_notes {
    display: flex;
    align-items: center;
}

.logo_header:hover {
    color: #00F5C0;
    opacity: .6;
}

nav ul li a:hover {
    color: #00F5C0;
    transition: transform .5s;

}

nav ul li:hover {
    color: #00F5C0;
    transition: transform .5s;
    opacity: .7;
    transform: scale(1.5);
}
.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social img {
    width: 30px;
}
.social a:hover {
    color: #00F5C0;
    opacity: .6;
}

#date {
    grid-column: 1/4;
    padding: 16px 0;
    margin: 0 5%;
}

.central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.brief_intro {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    margin-left: 15%;
    align-self: center;
}

.highlight {
    color: #00F5C0;
    margin-bottom: 0.67em;
}

.hero {
    grid-column: 2/3;
    display: flex;
}

#resume_btn {
    background-color: #00F5C0;
    width: 10em;
    font-weight: bolder;
    padding:1em 0em;
    border-radius: 1.5em;
    cursor: pointer;
}

.main_img {
    margin-right: 15%;
    align-self: center;
}

.hero img {
    width: 75%;
    border-radius: 50%;
    float: right;
}

footer {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.left_foot {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_foot {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}


#chamber_contacts {
    margin: 0 auto;
}

.location {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.logo_footer {
    width: 35px;

}

.bottomless {
    grid-column: 1/3;
    grid-row: 2/3;
}

/* about me page */
.casual_me, .professional_me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.professional_me {
    padding-top: 2.5%;
    border-top: 2px solid #00F5C0;

}

.casual_me img, .professional_me img {
    width: 75%;
    border: 2px solid #00F5C0;
    box-shadow:  5px 5px 10px#00F5C0;
    grid-column: 2/3;
    margin-bottom: 5%;
}

.casual_me p, .professional_me p {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 2%;
    font-size: 1.2em;
    line-height: 2em;
}

.parable {
    color: #00F5C0;
}

.professional_me img{
    grid-column: 1/2;
}

.professional_me p{
    grid-column: 2/3;
}


@media screen and (max-width: 900px) {

    #hamburger {
        display: block;
        text-align: left;
        margin: .2rem 2vw;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: #00F5C0;
    }
   
    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: space-evenly;
        font-weight: bold;
        font-family: lato, monospace, sans-serif;
    }

    header p {
        grid-column: 1/3;
    }

    nav {
        grid-column: 1/3;
    }

    nav ul.open{
        display: block;
        flex-direction: column;
    }

    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        color: #ffff;
        border-top: 1px solid rgba(0,0,0,0.5);
    }
    
    #primaryNav a:hover {
        color: #00F5C0;
        transition: transform .5s;
        opacity: .8;
        transform: scale(0.9);
    }

    #primaryNav {
        display: none; 
    }

    .social {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
        justify-self: right;
        padding-right: 10%;
    }


    #primaryNav.open{
        display: block;
        flex-direction: column;
    }

    #date {
        text-align: right;
    }
  
}

@media screen and (max-width: 480px) {

    #hamburger {
        text-align: left;
    }

    .social {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    nav  ul.open{
        display: block;
        flex-direction: column;
    }

    .central {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .main_img {
        margin: 0 auto;
    }
    
    .hero img {
        width: 75%;
        border-radius: 50%;
        float: none;
    }

    .brief_intro {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        margin: 0 auto;
        align-self: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;

    }

    .left_foot img {
        float: none;
    }
}