table {
    margin: 0 auto;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

thead th {
    background-color: pink;
}

td, th {
    padding: 10px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

tbody tr:nth-child(3){
    font-style: italic;
}