table {
    margin: 0 auto;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

thead th {
    background-color: pink;
    padding: 5px 7px 10px;
}

td, th {
    padding: 10px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

tbody tr:nth-child(3){
    font-style: italic;
}

.three-col {
    display: grid;
    grid-template-columns: 250px 2fr 1fr;
    grid-gap: 40px;
    align-content: center;
    align-items: center;

}